body{
    background: #f4f4f4;
    color: #555;
    font-family: "Helvetica";
    font-size: 18px;
    line-height: 1.6em;
    margin:0;
  }

  a{
    text-decoration: none;
    color:white;
  }

  
  a:active{
    color: lightblue;
  }
  
  .container{
    width:80%;
    margin: auto;
    overflow:hidden;
  }
  
  #main-header{
    background-color: #221C35;
    color: white;
    border-top: 0.1px solid lightgray;
    border-bottom: 0.1px solid lightgray;
  }
  
  #navbar{
    background: #333;
    color:white;
    border-bottom: 0.1px solid lightgray;
  }
  
  #navbar ul{
    padding:0;
    list-style: none;
  
  }
  
  #navbar li{
    display: inline;
  
  }
  
  #navbar a{
    color:white;
    text-decoration: none;
    font-size:20px;
    padding-right:20px;
  }

  #navbar a:active {
    color:lightblue;
  }
  
  #showcase{
    background: url(Blue\ background.png);
    background-position: center right;
    min-height: 200px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 30px;
  }
  
  #showcase h1{
    color: white;
    font-size: 60px;
    line-height: 1.6em;
    padding-top: 30px;
  }
  #main{
    box-sizing: border-box;
    text-align: center;
  }

  #main p{
    text-align: justify;
    text-indent: 0.5in;
  }

  #main h2 {
    text-align: left;
  }

  #main h1 {
    text-align: left;
  }
  
  #main img {
    width: 150px;
    height: 200px;
    border: 1px black solid;
  }
  
  table {
      width: 100%;
      margin-left:auto;
      margin-right:auto;
      border: 1px solid black;
  }
  
  th {
      background-color: lightblue;
      font-weight: bold;
  }
  
  th, td {
      width: 300px;
      text-align: center;
      border: 1px solid black;
      padding: 0 5px;
  }

  #main-footer{
    background: #333;
    color:#fff;
    text-align: center;
    padding: 20px;
    margin-top:40px;
  }

  #MainPictures{
    border: border-box;
    text-align: center;
  }

  #MainPictures img{
    width: 600px;
    height: 400px;
    float: auto;
    border: 1px black solid;
    margin: 0 10px;
  }

  @media(max-width:600px){
    #main{
      width: 100%;
      float: none;
    }
    #sidebar{
      width: 100%;
      float: none;
    }
  }